.navbar{
 background-color: black;
 display: flex;
}
.navbar-container{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
}
.navbar-link{
    
}
.navbar-container li{
    list-style: none;
    padding: 16px 24px;
    color: rgb(239, 239, 65);
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .navbar-container li{
        padding: 16px;
    }
}